body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

#wrapper {
    width: 100%;
    margin-top: 50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff !important;
    padding: 10px;
    min-height: 1050px;
}

.pad-top {
    padding-top: 15px;
}

.sidebar-collapse .nav {
    padding: 0;
    padding-top: 50px;
}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
    color: #214761;
    font-weight: 900;
    font-size: 16px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background: #93b3f3;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: #fff;
}

.navbar-inverse {

    background-color: #214761;
    border-color: #F0F0F0;
    min-height: 80px;
}

.nav > li > a > i {
    margin-right: 10px;
}

.active-link {
    background-color: #93b3f3;
}

.div-square {
    padding: 5px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;

}

.div-square > a, .div-square > a:hover {
    color: #808080;
    text-decoration: none;
}

.footer {
    background-color: #214761;
    width: 100%;
    color: #fff;
    padding: 20px 50px 20px 50px;
    padding-left: 20px;
}


.footer > a, .footer > a:hover {
    color: #fff;
}

@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1050px;
    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }
}

.navbar-header {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 20px;
}

.header-logo img{
    width: 50px;
    height: 50px;
}

.header-main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header-btns {
    display: flex;
    align-items: center;
}

.header-btns a {
    text-decoration: none;
    color: #fff;
}

.header-btns-auth {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.post-form-add {
    margin: 5px;
    padding: 10px;
}

.post-form-add input {
    max-width: 400px;
    margin-bottom: 20px;
}

.post-form-add-select {
    margin-bottom: 20px;
}

.post-form-block {
    margin-left: 0;
}

.post-form-block label {
    display: block;
}

.post-form-block img {
    max-width: 300px;
}

.posts-page-add-button-block,
.posts-page-edit-button-block,
.posts-page-delete-button-block {
    display: flex;
    align-items: center;
    padding: 20px;
}

.posts-page-add-button-block button {
    padding: 2px 4px;
    margin-left: 20px;
}

.posts-page-edit-button-block input {
    margin-right: 20px;
}

table.users tr{
    padding: 5px;
}



